<footer class="bg-[#020118] text-white py-10 px-10 ml-10 mt-20">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between gap-10">
        <!-- Logo + Description --> 
        <div class="flex-1">
          <img src="assets/LOGO.png" alt="Logo UniDys" class="w-30 mb-4 -ml-70" />
          <p class="text-sm font-black -ml-68">Plateforme éducative adaptée<br>pour les personne DYS</p>
        </div>
    </div>

    <!-- Navigation -->
    <div class="flex-1 ml-170 -mt-25">
        <h2 class="font-bold mb-4">Navigation</h2>
        <ul class="space-y-2">
          <li><a routerLink="/accueil" class="hover:text-[#8002FF]">Accueil</a></li>
          <li><a routerLink="/cours" class="hover:text-[#8002FF]">Cours</a></li>
          <li><a routerLink="/apropos" class="hover:text-[#8002FF]">À propos</a></li>
        </ul>
    </div>

    <!-- Newsletter -->
    <div class="flex-1 ml-330 -mt-33">
        <h2 class="font-bold mb-4">Newsletter</h2>
        <p class="text-sm mb-4">Restez informé de nos dernières actualités</p>
        <div class="flex items-center">
            <input type="email" placeholder="Votre Mail" class="bg-transparent border border-[#8002FF] px-4 py-2 rounded-2xl focus:outline-none">
            <button class="bg-[#8002FF] ml-3 text-white px-3 py-2 rounded-2xl hover:bg-[#3F0255]">
            ➤
            </button>
        </div>
    </div>

     <!-- Séparateur -->
    <div class="border-t border-white mt-10"></div>

    <!-- Bas de page -->
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center text-sm px-4">
      <p class="-ml-73 mt-5">©2025 UniDys. Tous droits réservés</p>
      <div class="flex space-x-4 mt-4 md:mt-0">
        <a href="#"><img src="assets/iconI.png" alt="Instagram" class="w-5 h-5" /></a>
        <a href="#"><img src="assets/iconF.png" alt="Facebook" class="w-5 h-5" /></a>
        <a href="#"><img src="assets/iconL.png" alt="LinkedIn" class="w-5 h-5" /></a>
        <a href="#"><img src="assets/iconT.png" alt="Twitter" class="w-5 h-5" /></a>
      </div>
    </div>
  

</footer>





  