MODAL
<!-- <div *ngIf="afficherModal" class="fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50">
    <div class="bg-white text-black p-6 rounded-2xl max-w-md w-full shadow-lg">
      <h2 class="text-xl font-bold text-center mb-4">Inscription à la Newsletter</h2>
  
      <input [(ngModel)]="email" type="email" placeholder="Votre adresse mail"
             class="border border-gray-400 px-4 py-2 rounded w-full mb-4" />
  
      <div class="flex justify-between">
        <button (click)="fermerModal()" class="bg-gray-300 px-4 py-2 rounded hover:bg-gray-400">Retour</button>
        <button (click)="validerEmail()" class="bg-[#8002FF] text-white px-4 py-2 rounded hover:bg-[#3F0255]">Valider</button>
      </div>
    </div>
  </div> -->
  