<!-- Logo et icône -->
<app-logo></app-logo>
<app-icon></app-icon>

<!-- Message de bienvenue avec bouton Valider -->
@if (message) {
<div class="absolute z-10 border-2 border-[#8002FF] text-white rounded-2xl shadow-lg text-center font-semibold animate-fade-in 
           flex flex-col items-center
           text-lg md:text-xl 2xl:text-2xl
           md:ml-[225px] md:mt-[120px] md:pt-[20px] md:pb-[10px] md:pl-[50px] md:pr-[50px]
           xl:ml-[480px] xl:mt-[120px] xl:pt-[20px] xl:pb-[10px] xl:pl-[50px] xl:pr-[50px]
           2xl:ml-[780px] 2xl:mt-[30px] 2xl:pt-[20px] 2xl:pb-[10px] 2xl:pl-[50px] 2xl:pr-[50px]">
  <p class="mb-2">{{ message }}</p>
</div>
}

<!-- Fond principal -->
<div class="bg-[#020118]">
  <div class="min-h-screen flex items-center justify-center px-4 -mt-20">
    <div class="bg-[#020118] rounded-2xl p-8 w-full max-w-md shadow-xl border-6 border-[#8002FF] relative">
      <!-- Titre -->
      <h2 class="text-center font-black text-[#8002FF] mb-6
      2xl:text-4xl
      xl:text-3xl
      md:text-3xl
      ">
        Connexion
      </h2>

      <!-- Formulaire de connexion -->
      <form (ngSubmit)="valider()" #connexionForm="ngForm">
        <!-- Email -->
        <div class="mb-4">
          <label class="text-white text-sm" for="email">Adresse mail</label>
          <div class="flex items-center bg-[#0A092B] border-2 border-[#8002FF] px-3 py-2 rounded mt-1">
            <i class="fa-solid fa-envelope text-white mr-2"></i>
            <input type="email" id="email" name="email" class="bg-transparent outline-none text-white w-full"
              placeholder="Adresse mail" required [(ngModel)]="connexionData.email" #email="ngModel" />
          </div>
          @if (email.invalid && email.touched) {
          <div class="text-red-500 text-xs mt-1">
            Email invalide.
          </div>
          }
        </div>

        <!-- Mot de passe -->
        <div class="mb-4">
          <label class="text-white text-sm" for="password">Mot de passe</label>
          <div class="flex items-center bg-[#0A092B] border-2 border-[#8002FF] px-3 py-2 rounded-md mt-1 relative">
            <i class="fa-solid fa-lock text-white mr-2"></i>
            <input [type]="passwordVisible ? 'text' : 'password'" id="password" name="password"
              class="bg-transparent outline-none text-white w-full pr-10" placeholder="Mot de passe" required
              minlength="6" [(ngModel)]="connexionData.password" #password="ngModel" />
            <button type="button" class="absolute right-3 text-white" (click)="togglePasswordVisibility()"
              aria-label="Afficher / masquer mot de passe" tabindex="-1">
              <i class="fa" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </div>

          @if (password.invalid && password.touched) {
          <div class="text-red-500 text-xs mt-1">
            Le mot de passe doit contenir au moins 6 caractères.
          </div>
          }
        </div>

        <!-- Bouton de validation -->
        <button (click)="valider()" [disabled]="!formulaireValide() || isLoading" class="flex items-center justify-center gap-2 bg-[#8002FF] text-white font-semibold rounded hover:bg-[#6900d8] disabled:opacity-50 transition-all duration-300
         2xl:py-2 2xl:px-40 min-w-[250px] w-full">
          @if (isLoading) {
          <svg class="animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z">
            </path>
          </svg>
          }

          <span class="inline-block">
            {{ isLoading ? 'Connexion...' : 'Valider' }}
          </span>
        </button>
      </form>

      <!-- Lien inscription -->
      <p class="text-center text-sm text-gray-300 mt-6">
        Vous n'avez pas encore de compte ?
        <a routerLink="/inscription" class="text-[#8002FF] font-semibold hover:underline transition duration-200">
          Créer un compte
        </a>
      </p>
    </div>
  </div>
</div>