<div>
    <img class="w-full mt-3 brightness-50" src="assets/Si1.png">
    <h1 class="absolute text-white font-black text-7xl -mt-100 ml-190">BIENVENUE</h1>
    <h2 class="absolute text-white -mt-75 ml-226 font-black text-4xl">UniDys</h2>
    <p class="absolute text-white -mt-60 text-center ml-80 mr-80 font-bold text-2xl">UniDys accompagne les élèves du CP au CM2, en particulier 
        ceux ayant des troubles de l’apprentissage, plus couramment 
        appelés troubles DYS, grâce à des contenus adaptés et interactifs, 
        afin que chaque enfant progresse à son rythme.
    </p>
    <a routerLink="/cours"><button class="absolute text-white text-2xl -mt-20 ml-222 rounded-2xl bg-[#8002FF] pt-2 pb-2 pl-10 pr-10 hover:bg-[#3F0255]">Cours</button></a>
</div>