 <app-icon></app-icon>
 <app-icon></app-icon>

<nav class="relative w-full">
  <div class="flex items-center justify-start gap-6 relative">

    <!-- Avatar cercle avec initiales -->
    <div
      class="absolute ml-410 -mt-9 w-12 h-12 rounded-full flex items-center justify-center text-white text-lg font-semibold shadow-md border-2 border-[#8002FF]"
      [style.backgroundColor]="userColor"
    >
      {{ userInitiales || '??' }}
    </div>

    <!-- Lien "Mon Espace" -->
    <a
      routerLink="/monespaceP"
      class="absolute ml-425 -mt-9.5 text-white font-bold text-xl hover:text-[#8002FF] transition duration-300"
    >
      Mon Espace
    </a>

    <!-- Bouton Flèche pour ouvrir menu -->
    <button
      (click)="toggleMenu()"
      aria-label="Ouvrir menu déroulant"
      class="absolute left-[465px] top-[-40px] text-white hover:text-violet-400 transition duration-300"
    >
      <img
        src="assets/flêche.png"
        class="w-5 h-5 transition-transform duration-300 ml-341 mt-3"
        [ngClass]="{ 'rotate-180': isOpen }"
      />
    </button>

    <!-- Menu déroulant -->
    <ul
      class="absolute ml-415 top-full mt-4 w-48 bg-[#020118] rounded-md shadow-lg overflow-hidden transition-all duration-300 z-50"
      [style.maxHeight]="isOpen ? '500px' : '0'"
      [style.visibility]="isOpen ? 'visible' : 'hidden'"
    >
      <li class="px-4 py-2 text-white font-semibold hover:bg-[#8002FF] transition cursor-pointer border-b border-[#8002FF] flex items-center gap-2">
        <i class="fa-solid fa-circle-info"></i>
        <a routerLink="/" class="block w-full">Informations</a>
      </li>

      <li class="px-4 py-2 text-white font-semibold hover:bg-[#8002FF] transition cursor-pointer flex items-center gap-2">
        <i class="fa-solid fa-power-off"></i>
        <a routerLink="/connexion" class="block w-full">Déconnexion</a>
      </li>
    </ul>

  </div>
</nav>


