:root{
    --Vert-Foncé: #083700;
    --Vert: #168a02;
    --Vert-Clair: #28f604;

    --Rouge-Foncé: #410101;
    --Rouge: #860202;
    --Rouge-Clair: #ec0202;

    --Rose-Foncé: #4f014e;
    --Rose: #8f048d;
    --Rose-Clair: #fc03f8;
    
    --Bleu-Foncé: #06014f;
    --Bleu: #0b0193;
    --Bleu-Clair: #1404ea;

    --Violet-Foncé: #250148;
    --Violet: #4b0394;
    --Violet-Clair: #7805ec;

    --Orange-Foncé: #573802;
    --Orange: #a46903;
    --Orange-Clair: #e59203;

    --Jaune-Foncé: #645a01;
    --Jaune: #a59503;
    --Jaune-Clair: #ecd505;


}
