<div class="border-2 border-[var(--Violet)] mt-20 bg-[var(--Bleu)] pt-30 pb-100 ml-50 mr-50 rounded-2xl shadow-2xl">
    <h2 class="text-white text-3xl font-bold mb-8 text-center">Classement des élèves</h2>
  
    <table class="w-full text-left text-white border-separate border-spacing-y-2">
      <thead>
        <tr class="bg-[var(--Violet)] text-lg">
          <th class="p-3 rounded-l-xl">Rang</th>
          <th class="p-3">Nom</th>
          <th class="p-3">XP</th>
          <th class="p-3 rounded-r-xl">Level</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eleve of eleves; let i = index" 
            class="bg-[var(--Violet-Foncé)] hover:bg-[var(--Violet)] transition duration-200">
          <td class="p-3 font-bold"># {{ i + 1 }}</td>
          <td class="p-3">{{ eleve.nom }} . {{ eleve.prenom.charAt(0) }}</td>
          <td class="p-3">{{ eleve.xp }}</td>
          <td class="p-3">{{ eleve.level }}</td>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="eleves.length === 0" class="text-center text-[var(--Blanc)] mt-6">
      Aucun élève trouvé pour le moment.
    </div>
  </div>
  